html {
  min-width: 1000px;
  overflow: hidden;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.main-video {
  background-color: green;
  margin-top: -8px;
}

.center {
  text-align: center;
}

.thumbnail {
  cursor: pointer; 
  cursor: hand;
}

.header {
  background-color: #e0e0e0;
  font-weight: 700;
  font-size: 17px;
  list-style: none;
  font-family: 'Cabin', Arial, sans-serif;
  width: 100%;
  margin-top: -8px;
  text-align: center;

}

.logo {
  margin-left: -100px;
}

.header-links {
  padding: 3px 12px;
  text-decoration: none;
  margin-top: 5px;
  text-align: center;
  bottom: 24px;
  position: relative;
  color: #333;
}

.order {
  background-color: #f67d0c;
  color: #fff;
  border-radius: 3px;
}


.header-links:hover {
    color: #fff;
    background-color: #70bde7;
    border-radius: 3px;
}

nav.header ul li {
  position: relative;
  display: inline;
  vertical-align: middle;
}

ul.drop-down-menu {
  display: none;
  border: 1px solid white;
}

nav.header ul li:hover > ul.drop-down-menu {
  position: absolute;
  list-style-type: none;
  float: left;
  display: inline-block;
  text-align: left;
  left: 0px;
  top: 0px;
  text-decoration: none;
  padding-left: 0px;
  min-width: 150px;
  font-weight: normal;
  font-size: 14px;
}

nav.header ul li:hover > ul.drop-down-menu > li {
  display: block;
  padding: 5px 0px 5px 3px;
  z-index: 2;
  background-color: white;
  border-bottom: 1px solid #f1f1f1;
}

nav.header ul li > ul.drop-down-menu > li:hover {
  background-color: #CBE7F5;
}

ul.drop-down-menu li a {
  text-decoration: none;
  padding-left: 10px;
  color: #333;
}

ul.drop-down-menu {
  border-radius: 3px;
}

.round-bottom {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.footer {
  background-color: #404040;
  font-family: 'Cabin', Arial, sans-serif;
  color: #fff;
}

.footer nav div {
  vertical-align: middle;
  display: inline-block;
}

.footer a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px 0 0;
  font-size: 15px;
}

.footer a:hover {
  color: #999;
}

.footer-links-container {
  vertical-align: middle;
}

.subscribe {
  display: block;
  float: right;
}

.post-footer {
  float: left;
  display: inline-block;
  background-color: #404040;
}

.icon-container {
  float: right;
}

/*ul.drop-down-menu li:hover > ul {
  display: block;
}*/

/*.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}*/